fastapi
uvicorn
pydantic
langchain
langchain_community
langchain-core
langchain-groq
groq
python-dotenv
PyPDF2
chromadb
sentence-transformers
langchain-text-splitters
python-multipart
beautifulsoup4
requests